* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0EA3E7;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1;
    height: 10vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.logo img {
    width: 50px;
    border-radius: 50%
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a,
.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-links a:hover,
.logo a:hover {
    color: #FFD700;
    transform: translateY(-1px);
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex: 0 0 20%;
    background: #FFD700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    min-width: 250px;
}

.main-content {
    flex: 1;
    background: #eff8f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile {
    margin-bottom: 0.5rem;
}

.profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    width: 100%;
    border-radius: 10px;
}

.profile figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    color: #000;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

.menu-item:hover {
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

.menu-item.parent {
    background-color: rgba(0,0,0,0.15);
    pointer-events: none;
    font-weight: 700;
    border-left: 4px solid #0EA3E7;
}


.welcome {
    font-size: xx-large;
    text-align: center;
    margin: 1rem;
}

.content-container {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: x-large;
}

ul {
    list-style: inside;
}

.stats {
    margin-top: 2rem;
    margin-right: 1rem;
}

.stats h2 {
    margin-bottom: 1rem;
}

.stats-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.stat-card {
    background: #072083;
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    flex: 1 1 200px; /* flex-grow, flex-shrink, flex-basis */
}

.stat-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.stat-card p {
    font-size: 1.3rem;
    font-weight: bold;
}