* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0EA3E7;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1;
    height: 10vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.logo img {
    width: 50px;
    border-radius: 50%
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a,
.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-links a:hover,
.logo a:hover {
    color: #FFD700;
    transform: translateY(-1px);
}

.layout {
    display: flex;
    height: 90vh;
}

.sidebar {
    flex: 0 0 20%;
    background: #FFD700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
}

.main-content {
    flex: 1;
    background: #ffffff;
}

.profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    width: 100%;
    border-radius: 10px;
}

.profile figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    color: #000;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

.menu-item:hover {
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

.menu-item.active {
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    border-left: 4px solid #0EA3E7;

}